.gradle
.settings
bin
build
.cache-main
.cache-tests
.classpath
.project
*.orig
*.rej
.metadata
node_modules
target
*.diff
credentials.properties
**/Scratch*.scala
.tmpBin
**/jars/*
.metals/*
.bloop/*

*.audit
**/*.audit

**/ScorecardOutput.xlsx

gateway/src/main/webapp/dist
example-ui/web-app/dist
example-ui/web-app/dist-login
example-ui/src/main/resources/static/**/*
docker/elastic/data
example-etl-common/.scalastyle
example-etl-common/scalastyle_config.xml
**/it/docker/mount/jars/*.jar
**/it/docker/mount/data/*.zip
**/it/docker/ci/mount/jars/*.jar
**/it/docker/ci/mount/data/*.zip

qa/env/mount/etlengoutput

example-ui/.npmrc
example-ui@tmp/

!qa/env/mount/tests/
qa/env/mount/tests/*

!qa/env/mount/tests/engtests/
qa/env/mount/tests/engtests/*
!qa/env/mount/tests/engtests/engTests.sh

!qa/env/mount/tests/etltests/
qa/env/mount/tests/etltests/*
!qa/env/mount/tests/eyltests/check_indices_exist.sh

!qa/env/mount/tests/servicetests/
qa/env/mount/tests/servicetests/*
!qa/env/mount/tests/servicetests/appTests.sh

!qa/env/mount/tests/cicdtests/

.idea/
**/out/*
*.iml
metastore_db/
.vscode/
.qli/tool
.qli/tmp

# Terraform
.terraform

**/results.log

**/example-scoring-batch/**/*.png
derby.log

**/.ipynb_checkpoints/*